* {
  font-family: Times, serif;
  margin: 0;
  padding: 0;
  border: none;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  height: 70px;
  align-items: center; /* dúvida align - itens ou align - content */
}

.trybewarts-header-logo {
  height: 60px;
  margin-left: 10px;
}

#trybewarts-header-title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.trybewarts-login {
  display: flex;
  margin-right: 10px;
  align-items: center; /* porque o botão iguala ao meio aqui ? */
}

.trybewarts-login input , #button-login {
  display: flex;
  padding: 5px;
  height: 35px;
  width: 150px;
  border-radius: 10px;
  margin-left: 8px;
  font-weight: 900;
  font-size: 16px;
  border: none;
}

#button-login {
  display: flex;
  background-color: darkslateblue;
  padding: 22px;
  color: white;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: space-between;
  background-color: rgb(231, 231, 231);
  padding-right: 400px;
  align-items: center;
}

#form-title {
  padding-top: 30px;
  display: flex;
  font-size: 30px;
  font-weight: 700;
}

hr {
  width: 675px;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

#input-name , #input-lastname , #input-email , #house {
  width: 280px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

#house {
  width: 243px;
  background-color: white;
}

#trybewarts-forms-logo {
  height: 500px;
}

#family {
  display: flex;
}

#family-left {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

#family-right {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
}

#family-left input {
  margin-top: 20px;
}

#family-right input {
  margin-top: 20px;
  margin-left: 10px;
}

#section-rate input {
  margin-left: 5px;
}

#section-textarea {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin-left: 100px;
}

#section-textarea .textarea {
  margin: 10px 0;
}

#section-textarea #textarea {
  border: navy solid 1px;
  padding: 10px;
  height: 120px;
  width: 80%;
}

#agreement {
  margin-right: 220px;
}

#submit-btn {
  background-color: darkslateblue;
  color: white;
  width: 85%;
  margin-top: 10px;
  border-radius: 7px;
}

footer {
  background-color: rgb(59, 58, 58);
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
